
/* Makes progress bar's say under picture */
.progress {
  margin-left: 25px;
  padding: 0;
}
/* Fixes odd width */
.row {
  width: 98%;
}
/* Center text on picture */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center2 {
  display: block;
  margin-left: 0%;
  margin-right: 0%;

}

@media screen and (max-width: 700px) {
  .centered {
    top: 35%
  }
}

@media screen and (max-width: 400px) {
  .centered {
    top: 20%;
    font-size: 70%;
  }
  
}